.aviso{
  color : tomato;
}

.azul{
  color : blue;
} 

#main-alert {
  position: absolute;
  right: 2em;
  top: 4em;
  z-index: 5000;
  background-color: yellow;
}

textarea {
    color: blue; /* Define a cor do texto como azul */
    font-size: 16px; /* Define o tamanho da fonte */
    font-family: Arial, sans-serif; /* Escolhe a fonte do texto */
    text-align: justify; /* Justifica o texto */
    width:100%; 
    height:100px;
}